<style type="text/css">
  .collection-description {
    padding: 10px 0px;
  }

  .collection-description h2 {
    font-size: 28px;
  }

  .collection-description a {
    color: #2ECC71;
  }

  .collection-description a:hover {
    color: #229552;
    text-decoration: none;
  }

  @media (max-width: 767.98px) {

      .collection-description {
        width: 85%;
        margin: auto;
      }

  }
</style>

<div class="row solid-bottom-line">
  <h1 class="tb-h-underline cat-header">{{ collection.title }}</h1>
</div>
{% if section.settings.collection_sort_enable %}
  <div class="row">
    <div class="col-md-12 form-inline justify-content-end collection-sort">
      <div id="sort-by-container" class="form-group">
        <label for="sort-by">Sort by</label> 
        <select id="sort-by" class="form-control-sm">
          <option value="manual">Featured</option>
          <option value="price-ascending">Price: Low to High</option>
          <option value="price-descending">Price: High to Low</option>
          <option value="title-ascending">A-Z</option>
          <option value="title-descending">Z-A</option>
          <option value="created-ascending">Oldest to Newest</option>
          <option value="created-descending">Newest to Oldest</option>
          <option value="best-selling">Best Selling</option>
        </select>
      </div>
    </div>
  </div>
{% endif %}
<div class="row">
  {% for product in collection.products %}
    <div class="col-md-4">
      {% include 'product-grid-item' %}
    </div>
  {% endfor %}
</div>
{% if paginate.pages > 1 %}
  <div class="row">
    {% include 'pagination' %}
  </div>
{% endif %}
{% if collection.description != blank %}
<div class="row collection-description">
  {{ collection.description }}
</div>
{% endif %}