<div class="row">
	<div class="col-md-12">
		<ul class="list-group">
			{% assign collection_handle = "collection-" | append: collection.handle %}
				{% if linklists[collection_handle].links != blank %}
					{% for link in linklists[collection_handle].links %}
						<li class="list-group-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
					{% endfor %}
				{% else %}
					{% for link in linklists[section.settings.cat_sidebar_linklist].links %}
						<li class="list-group-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
					{% endfor %}
				{% endif %}
		</ul>
	</div>
</div>