<div class="col-md-12">
	{% include 'product-single-price' %}
</div>
<div class="col-md-12 mt-2">
	<div class="pd-pg-ratings">
			<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
		<div class="d-inline-block">
			<span class="pd-pg-write-review"><a href="">Write a Review</a></span>
		</div>
	</div>
</div>

<div class="col-md-12 mt-2">
	<form action="/cart/add" method="post" enctype="multipart/form-data">
		{% if product.has_only_default_variant == false %}
			<div class="form-group row">
				<label class="col-md-2 col-form-label">Size</label>
				<div class="col-md-10">
					<select name="id" class="custom-select">
						{% for variant in product.variants %}
							{% if variant.available == true %}
								<option value="{{variant.id}}"> {{ variant.title }}</option>
							{% else %}
								<option disabled="disabled"> {{ variant.title }} - sold out!</option>
							{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>
		{% endif %}
		<button type="submit" name="add" id="add" class="btn btn-primary tb-button">Add to Cart</button>
	</form>	
</div>