<div class="col-md-12 text-center">
	<img class="img-fluid" src="{{ product.selected_or_first_available_variant.featured_image.src | default: product.featured_image.src | img_url: '500x500', crop: 'center' }}">
</div>