<style type="text/css">
  .promo-banner {
    background-color: #343A40;
    color: #D8D8D8;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
</style>

<div class="promo-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <span>{{ section.settings.collection_promo_text }}</span>
      </div>
    </div>
  </div>
</div>