{% include 'breadcrumbs' %}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="tb-h-underline">Sign In</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5 col-md-12 mt-4">

      <div id="returnCustForm">

        <h4 class="mb-4">Returning Customers</h4>

        {% form 'customer_login' %}

        {{ form.errors | default_errors }}

        <div class="form-group">
          <input class="form-control" type="email" placeholder="Email Address" name="customer[email]" required />
        </div>

        <div class="form-group">
          <input class="form-control" type="password" placeholder="Password" name="customer[password]" required />
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-primary tb-button" value="Sign In" />
        </div>

        {% endform %}

        <a href="#" class="standard-links" id="fgtPwd">Forgot your password?</a>

      </div>

      <div id="recovPwdForm" style="display: none">

        <h4 class="mb-4">Reset Password</h4>
        <p>We'll send you an email to reset your password.</p>

        {% form 'recover_customer_password' %}

        {{ form.errors | default_errors }}

        <div class="form-group">
          <input class="form-control" type="email" name="email" placeholder="Email Address" required />
        </div>

        <div class="form-group">
          <input type="submit" class="btn btn-primary tb-button" value="Submit" />
        </div>

        {% endform %}

        <a href="#" class="standard-links" id="signInBack">Back to sign in</a>

      </div>

    </div>
    <div class="col-lg-6 offset-lg-1 col-md-12 mt-4">

      <h4 class="mb-4">New Customer?</h4>

        <p>Create an account to take advantage of order tracking and order history. You'll also receive all the latest details on new products as well as fantastic offers.</p>

        <a href="/account/register" class="btn btn-primary tb-button">Create Account</a>
      
    </div>
  </div>

</div>