{% include 'breadcrumbs' %}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="tb-h-underline">Create Account</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-5 col-md-12 mt-4">

      <p>Fill out all fields to create a new account</p>

      {% form 'create_customer' %}

        {{ form.errors | default_errors }}

        <div class="form-group">
          <input type="text" value="" name="customer[first_name]" size="30" placeholder="First Name" class="form-control" required />
        </div>

        <div class="form-group">
          <input type="text" value="" name="customer[last_name]" size="30" placeholder="Last Name" class="form-control" required />
        </div>

        <div class="form-group">
          <input type="email" value="" name="customer[email]" size="30" placeholder="Email Address" class="form-control" required />
        </div>

        <div class="form-group">
          <input type="password" value="" name="customer[password]" size="30" placeholder="Password" class="form-control" required />
        </div>

        <div class="form-group">
          <input class="btn btn-primary tb-button" type="submit" value="Create Account" />
        </div>

      {% endform %}
    </div>
    <div class="col-lg-6 offset-lg-1 col-md-12 mt-4">

      <h4 class="mb-4">Returning Customer?</h4>

        <p>Welcome back! Access your account via our sign in page.</p>

        <a href="/account/login" class="btn btn-primary tb-button">Sign In</a>
      
    </div>
  </div>
</div>