<style type="text/css">
  .blog-article-hero {
    background-image: url({{ article.image.src | img_url: '1920x' }});
  }
</style>

<div class="blog-article-hero">
	<div class="container-fluid">
		<div class="row">
			
		</div>
	</div>
</div>