<style type="text/css">
  .collection-promo-banner {
    background-color: #343A40;
    color: #D8D8D8;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
</style>

{% if section.settings.collection_promo_enable %}
<div class="collection-promo-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <span>{{ section.settings.collection_promo_text }}</span>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% include 'breadcrumbs' %}
{% paginate collection.products by 12 %}

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row solid-bottom-line">
        <h1 class="tb-h-underline cat-header">{{ collection.title }}</h1>
      </div>
      {% if section.settings.collection_sort_enable %}
        <div class="row">
          <div class="col-md-12 form-inline justify-content-end collection-sort">
            <div id="sort-by-container" class="form-group"></div>
          </div>
        </div>
      {% endif %}
      <div class="row">
        {% for product in collection.products %}
          <div class="col-md-4">
            {% include 'product-grid-item' %}
          </div>
        {% endfor %}
      </div>
      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    </div>

  </div>
</div>

{% endpaginate %}



{% schema %}
{
  "name": "Collection pages",
  "settings": [
    {
      "type": "checkbox",
      "id": "collection_sort_enable",
      "label": "Enable Collection Sorting",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "collection_promo_enable",
      "label": "Enable Promo Banner"
    },
    {
      "type": "text",
      "id": "collection_promo_text",
      "label": "Promo Banner Text"
    }
  ]
}
{% endschema %}
