<style type="text/css">


</style>

{% if section.settings.collection_promo_enable %}
  {% include 'promo-banner' %}
{% endif %}

{% include 'breadcrumbs' %}
{% paginate collection.products by 12 %}

<div class="container">
  <div class="row">

    <div class="col-md-9 order-1 order-md-9">
      {% include 'collection-product-grid' %}
    </div>

    <div class="col-md-3 order-2">
      {% include 'collection-sidebar' %}
    </div>

  </div>
</div>

{% endpaginate %}


{% schema %}
{
  "name": "Collection pages",
  "settings": [
    {
      "type": "checkbox",
      "id": "collection_sort_enable",
      "label": "Enable Collection Sorting",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "collection_promo_enable",
      "label": "Enable Promo Banner"
    },
    {
      "type": "link_list",
      "id": "cat_sidebar_linklist",
      "label": "Category Links",
      "default": "main-menu"
    },
    {
      "type": "checkbox",
      "id": "collection_featured_post_enable",
      "label": "Enable Featured Blog Posts",
      "default": true
    },
    {
      "type": "url",
      "id": "cat_sidebar_blog_link",
      "label": "Category Sidebar Blog Link"
    }
  ]
}
{% endschema %}