<style type="text/css">
	.footer-social {
		background-color: #D8D8D8;
	}
</style>

<footer>
	<div class="footer-social">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span>Follow Us:</span>
					<span class="hvr-icon-fade"><a href="{{ settings.facebook_link }}"><i class="fab fa-facebook hvr-icon"></i></a></span>
					<span class="hvr-icon-fade"><a href="{{ settings.instagram_link }}"><i class="fab fa-instagram hvr-icon"></i></a></span>
					<span class="hvr-icon-fade"><a href="{{ settings.twitter_link }}"><i class="fab fa-twitter hvr-icon"></i></a></span>
					<span class="hvr-icon-fade"><a href="{{ settings.pinterest_link }}"><i class="fab fa-pinterest hvr-icon"></i></a></span>
				</div>
			</div>
		</div>
	</div>
</footer>