<section class="top-sub-nav">
  <div class="navbar navbar-expand-sm navbar-dark bg-dark top-subnav justify-content-end">
      <div class="navbar-text subnav-elem">
        <span class="subnav-icon hvr-icon-fade"><a href=""><i class="fas fa-user hvr-icon"></i> Sign In</a></span>
        <span class="subnav-icon hvr-icon-fade"><a href=""><i class="fas fa-shopping-cart hvr-icon"></i> Cart (1)</a></span>
        <span class="subnav-icon hvr-icon-fade"><a data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fas fa-search hvr-icon"></i> Search</a></span>
      </div>
  </div>
</section>


{% comment %}
<div id="myOverlay" class="overlay">
  <div class="overlay-content">
    <span class="closebtn" title="Close Overlay"><i class="fas fa-times"></i></span>
    <div class="search-bar-form">
      <form class="form-inline" action="GET">
        <input class="form-control mr-auto" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Search</button>
      </form>
    </div>
  </div>
  <div class="search-bar-cat">
    <div id="search-browse-cat">Browse Popular Categories:</div>
    <div class="search-cat-list">
      {% for link in linklists[section.settings.search_linklist].links %}
        {% if forloop.last == true %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% else %}
          <a href="{{ link.url }}">{{ link.title }}</a>, 
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endcomment %}

<style type="text/css">
  .modal-content {
    background-color: transparent;
    border: none;
  }

  .modal-header {
    border-bottom: none;
  }

  .modal-footer {
    border-top: none;
  }

  .close {
    text-shadow: none;
    color: #FFFFFF;
  }

  .close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    color: #737373;
  }
</style>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="Search for products" aria-label="Search for products" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-primary tb-button" type="button"><i class="fas fa-search"></i> Search</button>
                      </div>
                    </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% include 'menu' %}

{% schema %}
  {
    "name": "Main Menu",
    "settings": [
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Main Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "search_linklist",
        "label": "Search Menu"
      }
    ]
  }
{% endschema %}