<section class="top-sub-nav">
  <div class="navbar navbar-expand-sm navbar-dark bg-dark top-subnav justify-content-end">
      <div class="navbar-text subnav-elem">
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
          {% else %}
            <span class="subnav-icon hvr-icon-fade"><a href="/account/login"><i class="fas fa-user hvr-icon"></i> Sign In</a></span>
          {% endif %}
        {% endif %}
        <span class="subnav-icon hvr-icon-fade"><a href="/cart"><i class="fas fa-shopping-cart hvr-icon"></i> Cart{% if cart.item_count > 0 %} ({{ cart.item_count }}){% endif %}</a></span>
        <span class="subnav-icon hvr-icon-fade"><a data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fas fa-search hvr-icon"></i> Search</a></span>
      </div>
  </div>
</section>

{% include 'menu-search-modal' %}

{% include 'menu' %}

{% schema %}
  {
    "name": "Main Menu",
    "settings": [
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Main Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "search_linklist",
        "label": "Search Menu"
      }
    ]
  }
{% endschema %}