<div class="container">
  <div class="row align-items-center brand-p-list">
    {% for block in section.blocks %}
    <div class="col-md-4 text-center brand-p-block">
      <div class="brand-p-img">
        <a href="{{ block.settings.brand_link }}"><img class="img-fluid" src="{{ block.settings.brand_img | img_url: '300x' }}"></a>
      </div>
      <div class="brand-p-link">
          <a href="{{ block.settings.brand_link }}">{{ block.settings.title }}</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Brand List",
  "blocks": [
    {
      "type": "select",
      "name": "Brands",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Brand Name"
        },
        {
          "id": "brand_link",
          "type": "url",
       		"label": "Brand URL"
        },
        {
          "id": "brand_img",
          "type": "image_picker",
          "label": "Brand Image"
        }
      ]
    }
  ]
}
{% endschema %}