$color-primary: #2ECC71;
$color-primary-hover: #229552;
$color-white: #FFFFFF;
$dark-text: #212529;
$medium-text: #737373;
$light-text: #D8D8D8;
$dark-background: #343A40;
$light-background: #D8D8D8;
$radius-primary: 0.15rem;


/**** Global Elements ****/

	/** Buttons **/

	.tb-button {
		background-color: $color-primary;
		border-color: $color-primary;
		border-radius: $radius-primary;
	}

	.tb-button:hover {
		background-color: $color-primary-hover;
		border-color: $color-primary-hover;

	}

	/** Headers **/

		/* Green Underline Headers */

		.tb-h-underline {
			border-bottom: 2px solid $color-primary;
			display: inline-block;
		}

		/* Black Border Box Headers */

		.tb-box-h3 {
			text-transform: uppercase;
			border: 3px solid $dark-text;
			font-size: 1.4rem;
			margin-top: 30px;
			padding: 5px;
		}

	/** Colors **/

		.tb-green {
			color: $color-primary;
		}

	/** Forms **/

		.form-control {
			border-radius: $radius-primary;
		}

	/** Ratings & Reviews **/

		.spr-badge {
			font-size: 12px;
		}

		.spr-badge[data-rating="0.0"] {
    		visibility:hidden; display: none;
		}


/**** Sub Top Nav ****/


	/** Top Black Bar **/


	.subnav-elem {
	  padding-top: 0px;
	  padding-bottom: 0px;
	  font-size: 13px;
	}
	  
	.subnav-icon {
	  padding-left: 10px;
	  padding-right: 10px;
	}

	.subnav-icon a {
	  text-decoration: none;
	  color: $light-text !important;
	}

	.hvr-icon-fade:active .hvr-icon, 
	.hvr-icon-fade:focus .hvr-icon, 
	.hvr-icon-fade:hover .hvr-icon{
		color: $color-primary;
	}


	@media (max-width: 767.98px) {

		.subnav-elem {
			font-size: 16px;
		}

		.justify-content-end {
			justify-content: center !important;
		}
	}



/** Main navigation **/

	/* All devices */

		/* Primary category styling  */

		.navbar-light .navbar-nav .nav-link {
			color: $dark-text;
		}

		.navbar-light .navbar-nav .nav-link:focus, 
		.navbar-light .navbar-nav .nav-link:hover {
			color: $medium-text;
		}

		.nav-link {
	  		text-transform: uppercase;
	  	}

		/* Subcategory drop down styling */

		.dropdown-menu {
			border: none;
			border-radius: $radius-primary;
		}

		.dropdown-item:focus,
		.dropdown-item:hover {
			color: $medium-text;
			background-color: $color-white;
		}

		/* Remove default bootstrap dropdown arrow */
		.dropdown-toggle::after {
		    display: none;
		}

		.hvr-underline-reveal:before{
			background: $color-primary;
		}


	/* Mobile view */

		/* Hamburger icon */

		.navbar-light .navbar-toggler {
			border: none;
		}




/** Search overlay **/

	/* All devices */

		/* Overlay background */
		.overlay {
		  height: 100%;
		  width: 100%;
		  display: none;
		  position: fixed;
		  z-index: 1;
		  top: 0;
		  left: 0;
		  background-color: rgb(0,0,0);
		  background-color: rgba(0,0,0, 0.9);
		}

		/* Overlay content */

		.overlay-content {
		  position: relative;
		  top: 25%;
		  width: 50%;
		  text-align: right;
		  margin-top: 30px;
		  margin: auto;
		}

		/* Close overlay button */

		.overlay .closebtn {
		  position: inherit;
		  font-size: 2rem;
		  cursor: pointer;
		  color: $color-white;
		  transition: color .15s ease-in-out,
					background-color .15s ease-in-out,
					border-color .15s ease-in-out,
					box-shadow .15s ease-in-out
		}

		.overlay .closebtn i {
			padding-bottom: 40px;
		}

		.overlay .closebtn:hover {
		  color: $light-text;
		}


		/* Search form */

		.search-bar-form .form-control {
			width: 80% !important;
		}

		.search-bar-form input,
		.search-bar-form button {
			border-radius: $radius-primary;
		}

		.search-bar-form button {
			background-color: $color-primary;
			border-color: $color-primary;

		}

		.search-bar-form button:hover {
			background-color: $color-primary-hover;
			border-color: $color-primary-hover;

		}

		/* Search category links */

		.search-bar-cat {
		  position: relative;
		  top: 25%;
		  width: 50%;
		  text-align: left;
		  margin: auto;
		  color: $color-white;
		  padding-top: 15px;
		}

		#search-browse-cat {
			color: $light-text;
			font-weight: bold;
		}

		.search-cat-list a {
			color: $color-white;
		}

		.search-cat-list a:hover {
			color: $color-primary;
			text-decoration: none;
		}


	/* Mobile view */

		/* Search form mobile */

		@media (max-width: 991.98px) { 
			.form-control {
				width: 70% !important;
			}
		}

		/* Search form and category links mobile */

		@media (max-width: 767.98px) { 
			.form-control {
				width: 100% !important;
			}

			.search-bar-form button {
				margin-top: 4%;
			}

			.overlay-content,
			.search-bar-cat {
				width: 70%;
			}

		}


/**** Footer ****/

	.footer-social {
		background-color: #D8D8D8;
		color: #343A40;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 25px;
	}

	.footer-social .footer-follow {
		font-size: 20px;
		text-transform: uppercase;
		vertical-align: middle;
	}

	.footer-social a {
		color: #343A40;
		font-size: 30px;
		padding-left: 13px;
		vertical-align: middle;
	}

	.footer-main {
		background-color: #343A40;
		padding-top: 10px;
		padding-bottom: 20px;
	}

	.footer-main .footer-linklist {
		list-style: none;
		max-width: none;
		padding: 0px 0px 0px 5px;
		margin: 0;
	}

	.footer-main h5 {
		color: #FFFFFF;
		padding-top: 20px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 16px;
	}

	.footer-main .footer-linklist li {
		margin-bottom: 5px;
	}

	.footer-main .footer-linklist li a {
		color: #FFFFFF;
		font-size: 14px;
	}

	.footer-main .footer-linklist li a:hover {
		color: #D8D8D8;
		text-decoration: none;
	}

	.footer-main .footer-email form input,
	.footer-main .footer-email form button {
		font-size: 12px;
	}

	.footer-main .footer-email .footer-email-cta {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.footer-main .footer-email span {
		font-size: 14px;
		font-style: italic;
		color: #D8D8D8;
	}

	.tb-copyright {
		color: #FFFFFF;
		font-size: 12px;
		margin-top: 30px
	}


/**** Breadcrumb ****/

	.tb-bcrumb {
		background-color: $color-white;
	}

	.tb-bcrumb a {
		color: $dark-text;
		text-decoration: none;
	}

	.tb-bcrumb a:hover {
		color: $medium-text;
	}

	.breadcrumb-item.active {
		color: $medium-text;
	}

/**** Homepage ****/


	/** HP Hero **/


		/* Background image */
		.homepage-hero {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			height: 500px;
			color: $color-white;	
		}

		/* Right justified content box */

		.hp-hero-text {
			background: linear-gradient(to right, 
		                    rgba(56,56,56, 0), 
		                    rgba(56,56,56, 0.5) 20%);
			height: 500px;
			display: table;
			padding: 70px;
		}

		.hp-hero-row {
			display: table-row;
		}

		.hero-cell {
			display: table-cell;
			vertical-align: middle;
			text-align: right;
		}

		.hero-cell h1 {
			text-transform: uppercase;
		}

		.hero-cell p {
			font-style: italic;
		}


			/* Right justified content box mobile devices */

			@media (max-width: 767.98px) { 
				.hp-hero-text {
					padding: 20px;
				}

			}


	/** HP Featured Categories **/

		.hp-category-block {
			padding-top: 10px;
		}

		.hp-category-img {
		    position: relative;
		    display: inline-block;
		    padding-top: 20px;
		}

		.hp-cat-color {
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
			text-align: center;
			cursor: default;
			background: $dark-background;
		}

		.hp-cat-color .hp-category-text {
			width: 100%;
			position: absolute;
			overflow: hidden;
			padding: 50px 20px;
		}

		.hp-cat-color img {
			display: block;
			position: relative;
			width: calc(100% + 20px);
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			opacity: 0.3
		}

		.hp-cat-color:hover img {
			opacity: 0.6;
			filter: alpha(opacity=60);
		}

		.hp-category-img img {
		    display: block;
		}

		.hp-category-text {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate( -50%, -50% );
		    text-align: center;
		    color: $color-white;
		    font-weight: bold;
		}

		/* Smaller category blocks on mobile */

		@media (max-width: 767.98px) {

			.hp-category-block {
				width: 85%;
				margin: auto;
			}
		}

	/** HP Featured Products **/

		.solid-bottom-line {
			border-bottom: 1px solid;
			padding-top: 40px;
		}

		.solid-bottom-line .tb-h-underline {
			margin-bottom: 0px;
		}

		.hp-pd-block {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.hp-pd-title a {
			font-weight: bold;
		}

		.hp-pd-title a {
			color: $dark-text;
		}

		.hp-pd-vendor a,
		.hp-pd-sku a {
			color: $medium-text;
		}

		.hp-pd-title a:hover {
			color: $medium-text;
			text-decoration: none;
		}

		.hp-pd-vendor a:hover,
		.hp-pd-sku a:hover {
			color: $dark-text;
			text-decoration: none;
		}

		.hp-pd-title{
			padding-top: 5px;
		}

		.hp-pd-sku {
			font-size: 12px;
			padding-top: 5px;
		}

		.hp-pd-vendor {
			font-size: 12px;
			padding-top: 5px;
		}

		.hp-pd-price {
			padding-top: 5px;
		}

		.hp-pd-button {
			display: none;
		}

		.hp-pd-block .tb-button:hover {
			background-color: $color-primary;
			border-color: $color-primary;
		}

		/* Product image hover overlay */

		.hp-overlay-reveal .hp-pd-overlay-hidden { 
			display: block !important; 
			visibility: visible !important;
		}

		.hp-pd-block:hover .hp-overlay-reveal img { 
			opacity: 1; 
		}

		.hp-overlay-reveal { 
			position: relative;
		}

		.hp-overlay-reveal .hp-pd-overlay-hidden { 
		  position: absolute; 
		  z-index: -1;
		  top: 0; 
		  width: 100%; 
		  height: 100%;  
		  opacity: 0;
		  -webkit-transition: opacity 0.3s ease-in-out;
		  -moz-transition: opacity 0.3s ease-in-out;
		  -o-transition: opacity 0.3s ease-in-out;
		  transition: opacity 0.3s ease-in-out;  
		}
		
		.hp-overlay-reveal:hover .hp-pd-overlay-hidden { 
		  z-index: 100000;
		  opacity: 1;    
		}

		.hp-overlay-reveal .hp-pd-overlay-text {
		  position: absolute;
		  top: 0;  
		  display: table;
		  width: 100%;
		  height: 100%;
		  background-color: $color-white;
		  background-color: rgba(56,56,56, 0.2);
		  color: #333;
		  text-align: center;
		  text-rendering: optimizeLegibility;
		}

		.hp-overlay-reveal .hp-pd-overlay-hidden .hp-pd-overlay-text .hp-pd-overlay-center {
		  display: table-cell;
		  vertical-align: middle;
		}

		/* mobile devices */

		@media (max-width: 767.98px) {
			.solid-bottom-line,
			.hp-pd-block {
				width: 85%;
				margin: auto;
			}

			.hp-pd-sku {
				font-size: 15px;
			}

			.hp-pd-vendor {
				font-size: 15px;
			}

			.hp-pd-button {
				padding-top: 10px;
				display: block;
			}
		}


	/** HP Featured Brands **/

		.brand-row {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.hp-brand-logos {
			border-left: 1px solid;
		}

		.hp-brand-header {
			text-align: right;
			font-size: 60px;
			text-transform: uppercase;
		}

		.hp-brand-image {
			width: 85%;
			margin: auto;
		}

		.hp-brand-img-center {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.hp-brand-button {
			padding-bottom: 40px;
		}

		@media (max-width: 767.98px) {
			.brand-row {
				width: 85%;
				margin: auto;
			}

			.hp-brand-image {
				width: 100%;
				margin: auto;
			}

			.hp-brand-logos {
				border-left: none;
				padding-top: 40px;
				border-top: 1px solid;
			}
		}

	/** HP Email Capture **/

		.hp-email-background {
			background-color: $dark-background;
			background-image: -webkit-linear-gradient(30deg, $dark-background 50%, $light-background 50%);
		}

		.hp-left-email {
			padding: 55px;
		}

		.hp-left-email h3 {
			color: $color-white;
			text-transform: uppercase;
		}

		.hp-left-email .hp-social-icons {
			padding-right: 15px;
		}

		.hp-left-email a {
			color: $light-text;
		}

		.hp-left-email i {
			font-size: 35px;
		}

		.hp-right-email {
			padding: 55px;
		}

		.hp-right-email p {
			font-style: italic;
		}

		@media (max-width: 576px) {
			.hp-left-email {
				background-color: $dark-background;
			}

			.hp-right-email {
				background-color: $light-background;
			}
		}

	/** HP Featured Posts **/

		.hp-article-img {
		    position: relative;
		    display: inline-block;
		    padding-top: 20px;
		}

		.hp-article-color {
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
			text-align: center;
			cursor: default;
			background: $dark-background;
		}

		.hp-article-color .hp-article-text {
			width: 100%;
			position: absolute;
			overflow: hidden;
			padding: 50px 20px;
		}

		.hp-article-color img {
			display: block;
			position: relative;
			width: calc(100% + 20px);
			opacity: 0.3;
		}

		.hp-article-img img {
		    display: block;
		}

		.hp-article-text {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate( -50%, -50% );
		    text-align: center;
		    color: $color-white;
		}

		.hp-article-text {
			text-align: left;
		}

		.hp-article-category {
			width: fit-content;
		}

		.hp-article-category .hp-article-category-text {
			background-color: $color-primary;
			padding-left: 5px;
			padding-right: 5px;
			border-radius: $radius-primary;
		}

		.hp-article-text h4 {
			text-transform: uppercase;
		}

		.hp-article-txt-block a,
		.hp-article-category a {
			color: $color-white;
			-webkit-transition: color .2s linear;
			-moz-transition: color .2s linear;
			-ms-transition: color .2s linear;
			-o-transition: color .2s linear;
			transition: color .2s linear;

		}

		.hp-article-txt-block a:hover,
		.hp-article-category a:hover {
			color: $light-text;
			text-decoration: none;
		}

		.hp-article-button {
			padding-top: 20px;
		}


/**** Contact Page ****/

.contact-social-info {
	font-size: 20px;
	padding: 20px 0px 30px 0px;
}

.contact-social-info div {
	padding-bottom: 10px;
}

.contact-social-info span i {
	padding-left: 15px;
	font-size: 35px;
	color: $dark-text;
}


.errors li {
	color: red;
}

input.shopify-challenge__button.btn {
	background-color: $color-primary;
	border-color: $color-primary;
	border-radius: $radius-primary;
	color: $color-white;
}

input.shopify-challenge__button.btn:hover {
	background-color: $color-primary-hover;
	border-color: $color-primary-hover;
	border-radius: $radius-primary;
	color: $color-white;
}

.success-text {
	color: $color-primary;
}