$color-primary: #2ECC71;
$color-primary-hover: #229552;
$color-white: #FFFFFF;
$dark-text: #343A40;
$medium-text: #737373;
$light-text: #D8D8D8;
$dark-background: #343A40;
$medium-background: #737373;
$light-background: #D8D8D8;
$radius-primary: 0.15rem;


/**** Global Elements ****/

	/** Buttons **/

	.tb-button {
		background-color: $color-primary;
		border-color: $color-primary;
		border-radius: $radius-primary;
	}

	.tb-button:hover {
		background-color: $color-primary-hover;
		border-color: $color-primary-hover;

	}

	.tb-button-small {
		background-color: $color-primary;
		border-color: $color-primary;
		border-radius: $radius-primary;
		font-size: 14px;
	}

	.tb-button-small:hover {
		background-color: $color-primary-hover;
		border-color: $color-primary-hover;
		font-size: 14px;
	}

	/** Badges **/

	.tb-badge-primary {
		background-color: $color-primary;
		border-radius: 0.15rem;
	}

	.tb-badge-secondary {
		background-color: $medium-background;
		border-radius: 0.15rem;
	}

	/** Headers **/

		/* Green Underline Headers */

		.tb-h-underline {
			border-bottom: 2px solid $color-primary;
			display: inline-block;
			color: $dark-text;
		}

		.tb-h-underline-fff {
			border-bottom: 2px solid $color-primary;
			display: inline-block;
			color: $color-white;
		}

		/* Black Border Box Headers */

		.tb-box-h3 {
			text-transform: uppercase;
			border: 3px solid $dark-text;
			color: $dark-text;
			font-size: 1.4rem;
			margin-top: 30px;
			padding: 5px;
		}

	/** Colors **/

	.tb-green {
		color: $color-primary;
	}

	/** Forms **/

	.form-control {
		border-radius: $radius-primary;
	}

	/** Pagination **/

	.paginate {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.paginate a,
	.paginate span {
		color: $dark-text;
		padding: 8px 16px;
		text-decoration: none;
		transition: background-color .3s;
		font-weight: 600;
	}

	.paginate a.active {
		background-color: $dark-background;
		color: $color-white;
	}

	.paginate a:hover:not(.active) {
		background-color: $light-background;
	}

	/** Banners **/

	.promo-banner {
		background-color: $dark-background;
		color: $light-text;
		font-size: 14px;
		padding-bottom: 5px;
		padding-top: 5px;
	}

	/** Breadcrumb **/

	.tb-bcrumb {
		background-color: $color-white;
		font-size: 14px;
	}

	.tb-bcrumb a {
		color: $dark-text;
		text-decoration: none;
	}

	.tb-bcrumb a:hover {
		color: $medium-text;
	}

	.breadcrumb-item.active {
		color: $medium-text;
	}

	/** Ratings & Reviews **/

	.spr-badge {
		font-size: 12px;
	}

	.spr-badge[data-rating="0.0"] {
		visibility:hidden; display: none;
	}


/**** Sub Top Nav ****/


	/** Top Black Bar **/


	.subnav-elem {
	  padding-top: 0px;
	  padding-bottom: 0px;
	  font-size: 13px;
	}
	  
	.subnav-icon {
	  padding-left: 10px;
	  padding-right: 10px;
	}

	.subnav-icon a {
	  text-decoration: none;
	  color: $light-text !important;
	}

	.hvr-icon-fade:active .hvr-icon, 
	.hvr-icon-fade:focus .hvr-icon, 
	.hvr-icon-fade:hover .hvr-icon{
		color: $color-primary;
	}


	@media (max-width: 767.98px) {

		.subnav-elem {
			font-size: 16px;
		}

		.justify-content-end {
			justify-content: center !important;
		}
	}



/** Main navigation **/

	/* All devices */

		/* Primary category styling  */

		.navbar-light .navbar-nav .nav-link {
			color: $dark-text;
		}

		.navbar-light .navbar-nav .nav-link:focus, 
		.navbar-light .navbar-nav .nav-link:hover {
			color: $medium-text;
		}

		.nav-link {
	  		text-transform: uppercase;
	  	}

		/* Subcategory drop down styling */

		.dropdown-menu {
			border: none;
			border-radius: $radius-primary;
		}

		.dropdown-item:focus,
		.dropdown-item:hover {
			color: $medium-text;
			background-color: $color-white;
		}

		/* Remove default bootstrap dropdown arrow */
		.dropdown-toggle::after {
		    display: none;
		}

		.hvr-underline-reveal:before{
			background: $color-primary;
		}


	/* Mobile view */

		/* Hamburger icon */

		.navbar-light .navbar-toggler {
			border: none;
		}




/** Search overlay **/

	/* All devices */

		/* Overlay background */
		.overlay {
		  height: 100%;
		  width: 100%;
		  display: none;
		  position: fixed;
		  z-index: 1;
		  top: 0;
		  left: 0;
		  background-color: rgb(0,0,0);
		  background-color: rgba(0,0,0, 0.9);
		}

		/* Overlay content */

		.overlay-content {
		  position: relative;
		  top: 25%;
		  width: 50%;
		  text-align: right;
		  margin-top: 30px;
		  margin: auto;
		}

		/* Close overlay button */

		.overlay .closebtn {
		  position: inherit;
		  font-size: 2rem;
		  cursor: pointer;
		  color: $color-white;
		  transition: color .15s ease-in-out,
					background-color .15s ease-in-out,
					border-color .15s ease-in-out,
					box-shadow .15s ease-in-out
		}

		.overlay .closebtn i {
			padding-bottom: 40px;
		}

		.overlay .closebtn:hover {
		  color: $light-text;
		}


		/* Search form */

		.search-bar-form .form-control {
			width: 80% !important;
		}

		.search-bar-form input,
		.search-bar-form button {
			border-radius: $radius-primary;
		}

		.search-bar-form button {
			background-color: $color-primary;
			border-color: $color-primary;

		}

		.search-bar-form button:hover {
			background-color: $color-primary-hover;
			border-color: $color-primary-hover;

		}

		/* Search category links */

		.search-bar-cat {
		  position: relative;
		  top: 25%;
		  width: 50%;
		  text-align: left;
		  margin: auto;
		  color: $color-white;
		  padding-top: 15px;
		}

		#search-browse-cat {
			color: $light-text;
			font-weight: bold;
		}

		.search-cat-list a {
			color: $color-white;
		}

		.search-cat-list a:hover {
			color: $color-primary;
			text-decoration: none;
		}


	/* Mobile view */

		/* Search form mobile */

		@media (max-width: 991.98px) { 
			.form-control {
				width: 70% !important;
			}
		}

		/* Search form and category links mobile */

		@media (max-width: 767.98px) { 
			.form-control {
				width: 100% !important;
			}

			.search-bar-form button {
				margin-top: 4%;
			}

			.overlay-content,
			.search-bar-cat {
				width: 70%;
			}

		}


/**** Footer ****/

	.footer-social {
		background-color: $light-background;
		color: $dark-text;
		padding-top: 2px;
		padding-bottom: 2px;
		margin-top: 25px;
	}

	.footer-social .footer-follow {
		font-size: 20px;
		text-transform: uppercase;
		vertical-align: middle;
	}

	.footer-social a {
		color: $dark-text;
		font-size: 30px;
		padding-left: 13px;
		vertical-align: middle;
	}

	.footer-main {
		background-color: $dark-background;
		padding-top: 10px;
		padding-bottom: 20px;
	}

	.footer-main .footer-linklist {
		list-style: none;
		max-width: none;
		padding: 0px 0px 0px 5px;
		margin: 0;
	}

	.footer-main h5 {
		color: $color-white;
		padding-top: 20px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 16px;
	}

	.footer-main .footer-linklist li {
		margin-bottom: 5px;
	}

	.footer-main .footer-linklist li a {
		color: $color-white;
		font-size: 14px;
	}

	.footer-main .footer-linklist li a:hover {
		color: $light-text;
		text-decoration: none;
	}

	.footer-main .footer-email form input,
	.footer-main .footer-email form button {
		font-size: 12px;
	}

	.footer-main .footer-email .footer-email-cta {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.footer-main .footer-email span {
		font-size: 14px;
		font-style: italic;
		color: $light-text;
	}

	.tb-copyright {
		color: $color-white;
		font-size: 12px;
		margin-top: 30px
	}

	@media (max-width: 991.98px) {
		.footer-main .footer-email form input,
		.footer-main .footer-email form button {
			font-size: 1rem;
		}
	}



/**** Homepage ****/


	/** HP Hero **/


		/* Background image */
		.homepage-hero {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			height: 500px;
			color: $color-white;	
		}

		/* Right justified content box */

		.hp-hero-text {
			background: linear-gradient(to right, 
		                    rgba(56,56,56, 0), 
		                    rgba(56,56,56, 0.5) 20%);
			height: 500px;
			display: table;
			padding: 70px;
		}

		.hp-hero-row {
			display: table-row;
		}

		.hero-cell {
			display: table-cell;
			vertical-align: middle;
			text-align: right;
		}

		.hero-cell h1 {
			text-transform: uppercase;
		}

		.hero-cell p {
			font-style: italic;
		}


			/* Right justified content box mobile devices */

			@media (max-width: 767.98px) { 
				.hp-hero-text {
					padding: 20px;
				}

			}


	/** HP Featured Categories **/

		.hp-category-block {
			padding-top: 10px;
			padding-bottom: 40px;
		}

		.hp-category-img {
		    position: relative;
		    display: inline-block;
		    padding-top: 20px;
		}

		.hp-cat-color {
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
			text-align: center;
			cursor: default;
			background: $dark-background;
		}

		.hp-cat-color .hp-category-text {
			width: 100%;
			position: absolute;
			overflow: hidden;
			padding: 50px 20px;
		}

		.hp-cat-color img {
			display: block;
			position: relative;
			width: calc(100% + 20px);
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			opacity: 0.3
		}

		.hp-cat-color:hover img {
			opacity: 0.6;
			filter: alpha(opacity=60);
		}

		.hp-category-img img {
		    display: block;
		}

		.hp-category-text {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate( -50%, -50% );
		    text-align: center;
		    color: $color-white;
		    font-weight: bold;
		}

		/* Smaller category blocks on mobile */

		@media (max-width: 767.98px) {

			.hp-category-block {
				width: 85%;
				margin: auto;
			}
		}

	/** HP Featured Products **/

		.solid-bottom-line {
			border-bottom: 1px solid;
		}

		.solid-bottom-line .tb-h-underline {
			margin-bottom: 0px;
		}

		.pd-block {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.pd-title a {
			font-weight: bold;
		}

		.pd-title a {
			color: $dark-text;
		}

		.pd-vendor a,
		.pd-sku a {
			color: $medium-text;
		}

		.pd-title a:hover {
			color: $medium-text;
			text-decoration: none;
		}

		.pd-vendor a:hover,
		.pd-sku a:hover {
			color: $dark-text;
			text-decoration: none;
		}

		.pd-title{
			padding-top: 5px;
		}

		.pd-sku {
			font-size: 12px;
			padding-top: 5px;
		}

		.pd-vendor {
			font-size: 12px;
			padding-top: 5px;
		}

		.pd-price {
			padding-top: 5px;
		}

		.pd-button {
			display: none;
		}

		.pd-block .tb-button:hover {
			background-color: $color-primary;
			border-color: $color-primary;
		}

		/* Product image hover overlay */

		.pd-overlay-reveal .pd-overlay-hidden { 
			display: block !important; 
			visibility: visible !important;
		}

		.pd-block:hover .pd-overlay-reveal img { 
			opacity: 1; 
		}

		.pd-overlay-reveal { 
			position: relative;
		}

		.pd-overlay-reveal .pd-overlay-hidden { 
		  position: absolute; 
		  z-index: -1;
		  top: 0; 
		  width: 100%; 
		  height: 100%;  
		  opacity: 0;
		  -webkit-transition: opacity 0.3s ease-in-out;
		  -moz-transition: opacity 0.3s ease-in-out;
		  -o-transition: opacity 0.3s ease-in-out;
		  transition: opacity 0.3s ease-in-out;  
		}
		
		.pd-overlay-reveal:hover .pd-overlay-hidden { 
		  z-index: 100000;
		  opacity: 1;    
		}

		.pd-overlay-reveal .pd-overlay-text {
		  position: absolute;
		  top: 0;  
		  display: table;
		  width: 100%;
		  height: 100%;
		  background-color: $color-white;
		  background-color: rgba(56,56,56, 0.2);
		  color: #333;
		  text-align: center;
		  text-rendering: optimizeLegibility;
		}

		.pd-overlay-reveal .pd-overlay-hidden .pd-overlay-text .pd-overlay-center {
		  display: table-cell;
		  vertical-align: middle;
		}

		/* mobile devices */

		@media (max-width: 767.98px) {
			.solid-bottom-line,
			.pd-block {
				width: 85%;
				margin: auto;
			}

			.pd-sku {
				font-size: 15px;
			}

			.pd-vendor {
				font-size: 15px;
			}

			.pd-button {
				padding-top: 10px;
				display: block;
			}
		}


	/** HP Featured Brands **/

		.brand-row {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.hp-brand-logos {
			border-left: 1px solid $dark-text;
		}

		.hp-brand-header {
			text-align: right;
			font-size: 60px;
			text-transform: uppercase;
			color: $dark-text;
			padding-right: 30px;
		}

		.hp-brand-image {
			width: 85%;
			margin: auto;
		}

		.hp-brand-img-center {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.hp-brand-button {
			padding-bottom: 40px;
		}

		@media (max-width: 767.98px) {
			.brand-row {
				width: 85%;
				margin: auto;
			}

			.hp-brand-image {
				width: 100%;
				margin: auto;
			}

			.hp-brand-logos {
				border-left: none;
				padding-top: 40px;
				border-top: 1px solid;
			}
		}

	/** HP Email Capture **/

		.hp-email-background {
			background-color: $dark-background;
			background-image: -webkit-linear-gradient(30deg, $dark-background 50%, $light-background 50%);
		}

		.hp-left-email {
			padding: 55px;
		}

		.hp-left-email h3 {
			color: $color-white;
			text-transform: uppercase;
		}

		.hp-left-email .hp-social-icons {
			padding-right: 15px;
		}

		.hp-left-email a {
			color: $light-text;
		}

		.hp-left-email i {
			font-size: 35px;
		}

		.hp-right-email {
			padding: 55px;
		}

		.hp-right-email p {
			font-style: italic;
		}

		@media (max-width: 576px) {
			.hp-left-email {
				background-color: $dark-background;
			}

			.hp-right-email {
				background-color: $light-background;
			}
		}

	/** HP Featured Posts **/

		.hp-article-img {
		    position: relative;
		    display: inline-block;
		    padding-top: 20px;
		}

		.hp-article-color {
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
			text-align: center;
			cursor: default;
			background: $dark-background;
		}

		.hp-article-color .hp-article-text {
			width: 100%;
			position: absolute;
			overflow: hidden;
			padding: 50px 20px;
		}

		.hp-article-color img {
			display: block;
			position: relative;
			width: calc(100% + 20px);
			opacity: 0.3;
		}

		.hp-article-img img {
		    display: block;
		}

		.hp-article-text {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate( -50%, -50% );
		    text-align: center;
		    color: $color-white;
		}

		.hp-article-text {
			text-align: left;
		}

		.hp-article-category {
			width: fit-content;
		}

		.hp-article-text h4 {
			text-transform: uppercase;
		}

		.hp-article-txt-block a,
		.hp-article-category a {
			color: $color-white;
			-webkit-transition: color .2s linear;
			-moz-transition: color .2s linear;
			-ms-transition: color .2s linear;
			-o-transition: color .2s linear;
			transition: color .2s linear;

		}

		.hp-article-txt-block a:hover,
		.hp-article-category a:hover {
			color: $light-text;
			text-decoration: none;
		}

		.hp-article-button {
			padding-top: 20px;
		}



/**** Pages ****/

	/** Blog Homepage **/

		/** Headers **/

		.blog-feat-header {
			margin-bottom: 10px;
		}

		.blogs-underline-header {
			border-bottom: 1px solid $dark-background;
		}

		.blogs-underline-header .tb-h-underline {
			margin-bottom: 0;
		}

		/** Featured Posts **/

		.pri-feat-blog-col {
			padding-right: 0px;
		}

		.sub-feat-blog-col {
			padding-left: 4px;
		}

		.pri-feat-blog {
			height:500px;
			background-size:cover;
			background-position:center;
			background-repeat: no-repeat;
			position: relative;
			color: $color-white;
		}

		.sub-feat-blog-top {
			height:250px;
			background-size:cover;
			background-position:center;
			background-repeat: no-repeat;
			position: relative;
			border-bottom: 2px solid $color-white;
			color: $color-white;
		}

		.sub-feat-blog-bottom {
			height:250px;
			background-size:cover;
			background-position:center;
			background-repeat: no-repeat;
			position: relative;
			border-top: 2px solid $color-white;
			color: $color-white;
		}

		.pri-feat-blog-back {
			background: linear-gradient(to bottom, rgba(56,56,56,0), rgba(56,56,56,0.7) 100%);
			width: 100%;
			height: 500px;
			display: table;
			padding: 50px;
		}

		.sub-feat-blog-back {
			background: linear-gradient(to bottom, rgba(56,56,56,0), rgba(56,56,56,0.7) 100%);
			width: 100%;
			height: 248px;
			display: table;
			padding: 15px;
		}

		.feat-blog-row {
			display: table-row;
		}

		.feat-blog-cell {
			display: table-cell;
			vertical-align: bottom;
			text-align: left;
		}

		.cat-blog-post-row {
			margin-top: 30px;
		}

		.feat-blog-header {
			text-transform: uppercase;
			font-weight: bold;
		}

		.pri-feat-blog-col a:hover {
			text-decoration: none;
		}

		.sub-feat-blog-col a:hover {
			text-decoration: none;
		}

		/** Category List **/

		.blog-hp-cat-list {
			margin-top: 30px;
		}

		.blog-hp-cat-list-cat {
			text-transform: uppercase;
		}

		.blog-hp-cat-list-margin {
			margin: 15px 15px;
		}

		.blog-hp-cat-list-margin a {
			color: $medium-text;
		}

		.blog-hp-cat-list-margin a:hover {
			color: $dark-text;
			text-decoration: none;
		}

		/** Blog Post Row Blocks **/

		.blog-cat-link {
			padding-left: 15px;
			font-size: 15px;
		}

		.blog-cat-link a {
			color: $dark-text;
		}

		.blog-cat-link a:hover {
			color: $medium-text;
			text-decoration: none;
		}

		.feat-blog-cat-post-obj {
			margin-top: 20px;
		}

		.blog-thumb-title {
			margin-top: 15px;
			text-transform: uppercase;
		}

		.blog-thumb-title h5 {
			font-weight: bold;
		}

		.blog-thumb-title a {
			color: $dark-text;
		}

		.blog-thumb-title a:hover {
			color: $medium-text;
			text-decoration: none;
		}

		.blog-thumb-pub-date {
			margin-bottom: 5px;
			font-size: 14px;
		}

		.blog-thumb-excerpt {
			font-size: 15px;
		}


		/** Mobile View **/

		@media (max-width: 767.98px) {
			.pri-feat-blog-col {
				padding-right: 15px;
			}

			.sub-feat-blog-col {
				padding-left: 15px;
			}

			.pri-feat-blog {
				height:250px;
			}

			.sub-feat-blog-top {
				border-bottom: none;
			}

			.sub-feat-blog-bottom {
				border-top: none;
			}

			.pri-feat-blog-back {
				height: 250px;
				padding: 15px;
			}

			.sub-feat-blog-back {
				height: 250px;
			}
		}


	/** Contact Page **/

	.contact-social-info {
		font-size: 20px;
		padding: 20px 0px 30px 0px;
	}

	.contact-social-info div {
		padding-bottom: 10px;
	}

	.contact-social-info span i {
		padding-left: 15px;
		font-size: 35px;
		color: $dark-text;
	}

	.errors li {
		color: red;
	}

	input.shopify-challenge__button.btn {
		background-color: $color-primary;
		border-color: $color-primary;
		border-radius: $radius-primary;
		color: $color-white;
	}

	input.shopify-challenge__button.btn:hover {
		background-color: $color-primary-hover;
		border-color: $color-primary-hover;
		border-radius: $radius-primary;
		color: $color-white;
	}

	.success-text {
		color: $color-primary;
	}

	
	/** Brand Page **/

	.brand-p-block {
		margin-top: 30px;
	}

	.brand-p-link {
		margin-top: 20px;
	}

	.brand-p-link a {
		color: $dark-text;
		font-weight: bold;
	}

	.brand-p-link a:hover {
		color: $medium-text;
		text-decoration: none;
	}



  /**** Collections ****/

  /** Collection Header **/

  .cat-header {
    font-size: 30px;
    text-transform: uppercase;
  }

  /** Collection Sort **/

  .collection-sort {
    margin-top: 20px;
  }

  .collection-sort label {
    margin-right: 10px;
    font-size: 15px;
  }

  /** Collection Description **/

  .collection-description {
    padding: 10px 0px;
  }

  .collection-description h2 {
    font-size: 28px;
  }

  .collection-description a {
    color: $color-primary;
  }

  .collection-description a:hover {
    color: #229552;
    text-decoration: none;
  }

  @media (max-width: 767.98px) {
    .collection-description {
      width: 85%;
      margin: auto;
    }
  }

  /** Collection Sidebar **/

  .collection-sidebar-header {
    background-color: $dark-background;
    padding: 10px 0px 4px 10px;
  }

  .collection-sidebar h6 {
    text-transform: uppercase;
    color: $color-white;
  }

  .collection-sidebar .list-group-item {
    border-right: none;
    border-left: none;
    border-top: 1px solid $dark-background;
  }

  .collection-sidebar .list-group-item:hover {
    z-index: 0 !important;
  }

  .collection-sidebar li a,
  .coll-sb-article .coll-sb-art-imgtext a {
    color: $dark-text;
    font-size: 14px;
  }

  .collection-sidebar li a:hover,
  .coll-sb-article .coll-sb-art-imgtext a:hover {
    color: $medium-text;
    text-decoration: none;
  }

  .coll-sb-article .coll-sb-art-imgtext a {
    text-transform: uppercase;
  }

  .coll-sb-art-imgtext img {
    margin: 13px 0px;
  }

  .coll-sb-art-button a {
    font-size: 14px;
    margin-top: 15px;
  }