/**** Global Elements ****/

	/** Buttons **/

	.tb-button {
		background-color: #2ECC71;
		border-color: #2ECC71;
		border-radius: 0.15rem;
	}

	.tb-button:hover {
		background-color: #229552;
		border-color: #229552;

	}

	/** Headers **/

		/* Green Underline Headers */

		.tb-h1-underline {
			border-bottom: 2px solid #2ECC71;
			display: inline-block;
		}

		.tb-h3-underline {
			border-bottom: 2px solid #2ECC71;
			display: inline-block;
		}

		.tb-h4-underline {
			border-bottom: 2px solid #2ECC71;
			display: inline-block;
		}

		/* Black Border Box Headers */

		.tb-box-h3 {
			text-transform: uppercase;
			border: 3px solid #212529;
			font-size: 1.4rem;
			margin-top: 30px;
			padding: 5px;
		}


/**** Top Nav ****/


	/** Top Black Bar **/


	.subnav-elem {
	  padding-top: 0px;
	  padding-bottom: 0px;
	  font-size: 13px;
	}
	  
	.subnav-icon {
	  padding-left: 10px;
	  padding-right: 10px;
	}

	.subnav-icon a {
	  text-decoration: none;
	  color: #afafaf !important;
	}

	.hvr-icon-fade:active .hvr-icon, 
	.hvr-icon-fade:focus .hvr-icon, 
	.hvr-icon-fade:hover .hvr-icon{
		color: #2ECC71;
	}


	@media (max-width: 767.98px) {

		.subnav-elem {
			font-size: 16px;
		}

		.justify-content-end {
			justify-content: center !important;
		}
	}



/** Main navigation **/

	/* All devices */

		/* Primary category styling  */

		.navbar-light .navbar-nav .nav-link {
			color: #212529;
		}

		.navbar-light .navbar-nav .nav-link:focus, 
		.navbar-light .navbar-nav .nav-link:hover {
			color: #737373;
		}

		.nav-link {
	  		text-transform: uppercase;
	  	}

		/* Subcategory drop down styling */

		.dropdown-menu {
			border: none;
			border-radius: 0.15rem;
		}

		.dropdown-item:focus,
		.dropdown-item:hover {
			color: #737373;
			background-color: white;
		}

		/* Remove default bootstrap dropdown arrow */
		.dropdown-toggle::after {
		    display: none;
		}

		.hvr-underline-reveal:before{
			background: #2ECC71;
		}


	/* Mobile view */

		/* Hamburger icon */

		.navbar-light .navbar-toggler {
			border: none;
		}




/** Search overlay **/

	/* All devices */

		/* Overlay background */
		.overlay {
		  height: 100%;
		  width: 100%;
		  display: none;
		  position: fixed;
		  z-index: 1;
		  top: 0;
		  left: 0;
		  background-color: rgb(0,0,0);
		  background-color: rgba(0,0,0, 0.9);
		}

		/* Overlay content */

		.overlay-content {
		  position: relative;
		  top: 25%;
		  width: 50%;
		  text-align: right;
		  margin-top: 30px;
		  margin: auto;
		}

		/* Close overlay button */

		.overlay .closebtn {
		  position: inherit;
		  font-size: 2rem;
		  cursor: pointer;
		  color: white;
		  transition: color .15s ease-in-out,
					background-color .15s ease-in-out,
					border-color .15s ease-in-out,
					box-shadow .15s ease-in-out
		}

		.overlay .closebtn i {
			padding-bottom: 40px;
		}

		.overlay .closebtn:hover {
		  color: #afafaf;
		}


		/* Search form */

		.search-bar-form .form-control {
			width: 80% !important;
		}

		.search-bar-form input,
		.search-bar-form button {
			border-radius: 0.15rem;
		}

		.search-bar-form button {
			background-color: #2ECC71;
			border-color: #2ECC71;

		}

		.search-bar-form button:hover {
			background-color: #229552;
			border-color: #229552;

		}

		/* Search category links */

		.search-bar-cat {
		  position: relative;
		  top: 25%;
		  width: 50%;
		  text-align: left;
		  margin: auto;
		  color: white;
		  padding-top: 15px;
		}

		#search-browse-cat {
			color: #afafaf;
			font-weight: bold;
		}

		.search-cat-list a {
			color: white;
		}

		.search-cat-list a:hover {
			color: #2ECC71;
			text-decoration: none;
		}


	/* Mobile view */

		/* Search form mobile */

		@media (max-width: 991.98px) { 
			.form-control {
				width: 70% !important;
			}
		}

		/* Search form and category links mobile */

		@media (max-width: 767.98px) { 
			.form-control {
				width: 100% !important;
			}

			.search-bar-form button {
				margin-top: 4%;
			}

			.overlay-content,
			.search-bar-cat {
			  width: 70%;
			}

		}


/**** Breadcrumb ****/

.tb-bcrumb {
	background-color: #FFFFFF;
}

.tb-bcrumb a {
	color: #212529;
	text-decoration: none;
}

.tb-bcrumb a:hover {
	color: #737373;
}

.breadcrumb-item.active {
	color: #737373;
}

/**** Homepage ****/


	/** HP Hero **/


		/* Background image */
		.homepage-hero {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			height: 500px;
			color: #FFFFFF;	
		}

		/* Right justified content box */

		.hp-hero-text {
			background: linear-gradient(to right, 
		                    rgba(56,56,56, 0), 
		                    rgba(56,56,56, 0.5) 20%);
			height: 500px;
			display: table;
			padding: 70px;
		}

		.hp-hero-row {
			display: table-row;
		}

		.hero-cell {
			display: table-cell;
			vertical-align: middle;
			text-align: right;
		}

		.hero-cell h1 {
			text-transform: uppercase;
		}

		.hero-cell p {
			font-style: italic;
		}


			/* Right justified content box mobile devices */

			@media (max-width: 767.98px) { 
				.hp-hero-text {
					padding: 20px;
				}

			}


	/** HP Featured Categories **/

		.hp-category-block {
			padding-top: 10px;
		}

		.hp-category-img {
		    position: relative;
		    display: inline-block;
		    padding-top: 20px;
		}

		.hp-cat-color {
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
			text-align: center;
			cursor: default;
			background: #343a40;
		}

		.hp-cat-color .hp-category-text {
			width: 100%;
			position: absolute;
			overflow: hidden;
			padding: 50px 20px;
		}

		.hp-cat-color img {
			display: block;
			position: relative;
			width: calc(100% + 20px);
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			opacity: 0.3
		}

		.hp-cat-color:hover img {
			opacity: 0.6;
			filter: alpha(opacity=60);
		}

		.hp-category-img img {
		    display: block;
		}

		.hp-category-text {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate( -50%, -50% );
		    text-align: center;
		    color: white;
		    font-weight: bold;
		}

		/* Smaller category blocks on mobile */

		@media (max-width: 767.98px) {

			.hp-category-block {
				width: 85%;
				margin: auto;
			}
		}

	/** HP Featured Products **/

		.solid-bottom-line {
			border-bottom: 1px solid;
			padding-top: 40px;
		}

		.solid-bottom-line .tb-h3-underline {
			margin-bottom: 0px;
		}

		/* Smaller width for header on mobile devices */

		@media (max-width: 767.98px) {
			.solid-bottom-line,
			.hp-product-block {
				width: 85%;
				margin: auto;
			}
		}


	/** HP Featured Brands **/

		.brand-row {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.hp-brand-logos {
			border-left: 1px solid;
		}

		.hp-brand-header {
			text-align: right;
			font-size: 60px;
			text-transform: uppercase;
		}

		.hp-brand-image {
			width: 85%;
			margin: auto;
		}

		.hp-brand-img-center {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.hp-brand-button {
			padding-bottom: 40px;
		}

		@media (max-width: 767.98px) {
			.brand-row {
				width: 85%;
				margin: auto;
			}

			.hp-brand-image {
				width: 100%;
				margin: auto;
			}

			.hp-brand-logos {
				border-left: none;
				padding-top: 40px;
				border-top: 1px solid;
			}
		}

	/** HP Email Capture **/

		.hp-email-background {
			background-color: #343A40;
			background-image: -webkit-linear-gradient(30deg, #343A40 50%, #D8D8D8 50%);
		}

		.hp-left-email {
			padding: 55px;
		}

		.hp-left-email h3 {
			color: white;
			text-transform: uppercase;
		}

		.hp-left-email .hp-social-icons {
			padding-right: 15px;
		}

		.hp-left-email a {
			color: #D8D8D8;
		}

		.hp-left-email i {
			font-size: 35px;
		}

		.tb-green {
			color: #2ECC71;
		}

		.hp-right-email {
			padding: 55px;
		}

		.hp-right-email p {
			font-style: italic;
		}

		.hp-right-email .form-control {
			border-radius: 0.15rem;
		}

		@media (max-width: 576px) {
			.hp-left-email {
				background-color: #343A40;
			}

			.hp-right-email {
				background-color: #D8D8D8;
			}
		}

	/** HP Featured Posts **/

		.hp-article-img {
		    position: relative;
		    display: inline-block;
		    padding-top: 20px;
		}

		.hp-article-color {
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
			text-align: center;
			cursor: default;
			background: #343a40;
		}

		.hp-article-color .hp-article-text {
			width: 100%;
			position: absolute;
			overflow: hidden;
			padding: 50px 20px;
		}

		.hp-article-color img {
			display: block;
			position: relative;
			width: calc(100% + 20px);
			opacity: 0.3;
		}

		.hp-article-img img {
		    display: block;
		}

		.hp-article-text {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate( -50%, -50% );
		    text-align: center;
		    color: white;
		}

		.hp-article-text {
			text-align: left;
		}

		.hp-article-category {
			width: fit-content;
		}

		.hp-article-category .hp-article-category-text {
			background-color: #2ECC71;
			padding-left: 5px;
			padding-right: 5px;
			border-radius: 0.15rem;
		}

		.hp-article-text h4 {
			text-transform: uppercase;
		}

		.hp-article-txt-block a,
		.hp-article-category a {
			color: #FFFFFF;
			-webkit-transition: color .2s linear;
			-moz-transition: color .2s linear;
			-ms-transition: color .2s linear;
			-o-transition: color .2s linear;
			transition: color .2s linear;

		}

		.hp-article-txt-block a:hover,
		.hp-article-category a:hover {
			color: #D8D8D8;
			text-decoration: none;
		}

		.hp-article-button {
			padding-top: 20px;
		}


/**** Contact Page ****/

.contact-form .form-group .form-control,
.contact-form .form-group .form-control {
	border-radius: 0.15rem;
}

.contact-social-info {
	font-size: 20px;
	padding: 20px 0px 30px 0px;
}

.contact-social-info div {
	padding-bottom: 10px;
}

.contact-social-info span i {
	padding-left: 15px;
	font-size: 35px;
	color: #212529;
}


.errors li {
	color: red;
}

input.shopify-challenge__button.btn {
	background-color: #2ECC71;
	border-color: #2ECC71;
	border-radius: 0.15rem;
	color: white;
}

input.shopify-challenge__button.btn:hover {
	background-color: #229552;
	border-color: #229552;
	border-radius: 0.15rem;
	color: white;
}

.success-text {
	color: #2ECC71;
}