{% section 'homepage-hero' %}
{% section 'homepage-featured-categories' %}

<!-- featured tips and info -->
<div class="container-fluid">
	<div class="row justify-content-center">
	  <h3 class="hp-h3">Featured Tips & Info</h3>
	</div>
</div>


<!-- <div class="col-xl-12">
	<img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0940/9878/t/3/assets/slideshow_image_1_2x.jpg?16342162947302306143">
</div> -->