{% include 'breadcrumbs' %}

<div class="container">
    <div class="row">
      <div class="col-xl-12">
        <h1>{{ page.title }}</h1>
      </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-xl-8 contact-form">
        <p>*Required Fields</p>
        {% form 'contact' %}
          {% if form.posted_successfully? %}
            <p>Thank you for contacting us!</p>
          {% else %}
            {{ form.errors | default_errors }}
          {% endif %}
          <div class="form-group">
            <label for="ContactFormReason">*Reason</label>
            <select id="ContactFormReason" class="form-control" name="contact[reason]">
              <option>Order Status</option>
              <option>Return</option>
              <option>Product Information</option>
              <option>Company Information</option>
              <option>Feedback</option>
              <option>Mailing Lists</option>
              <option>Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="ContactFormName">*Full Name</label>
            <input id="ContactFormName" type="name" name="contact[name]" class="form-control" placeholder="First and Last Name">
          </div>
          <div class="form-group">
            <label for="ContactFormEmail">*Email Address</label>
            <input id="ContactFormEmail" type="email" name="contact[email]" class="form-control" placeholder="name@example.com">
          </div>
          <div class="form-group">
            <label for="ContactFormOrder">Order Number</label>
            <input id="ContactFormOrder" type="order" name="contact[order]" class="form-control" placeholder="Order Number (Optional)">
          </div>
          <div class="form-group">
            <label for="ContactFormSubject">*Subject</label>
            <input id="ContactFormSubject" type="subject" name="contact[subject]" class="form-control" placeholder="Subject for Message">
          </div>
          <div class="form-group">
            <label for="ContactFormMessage">*Message</label>
            <textarea id="ContactFormMessage" class="form-control" rows="5" placeholder="Enter a Message" name="contact[message]"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" class="btn" value="Submit">
          </div>
        {% endform %}
      </div>
      <div class="col-xl-4">
        {% if settings.contact_phone != blank %}
          <div><i class="fas fa-phone"></i> {{ settings.contact_phone }}</div>
        {% endif %}
        {% if settings.contact_mailing != blank %}
          <div><i class="fas fa-envelope"></i> {{ settings.contact_mailing }}</div>
        {% endif %}
      </div>
    </div>
</div>



