{% paginate search.results by 8 %}

<div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1 class="tb-h-underline">Search</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mb-4 mt-2">
        <form action="/search" method="get">
          <div class="form-row">
                <div class="col-md-6 mb-2">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <label class="input-group-text search-page-filter-badge" for="inputGroupSelect02">Filter by</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect02" name="type">
                      <option value="product" selected="selected">Products</option>
                      <option value="article">Articles</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-6 mb-2">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q" aria-label="Search for products" aria-describedby="basic-addon2" value="{{ search.terms | escape }}">
                    <div class="input-group-append">
                      <button class="btn btn-primary tb-button" type="submit"><i class="fas fa-search"></i> Search</button>
                    </div>
                  </div>
                </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 search-browse">
        {% if search.performed %}
          {% if search.results_count == 0 %}
            <h3 class="font-italic"><span class="tb-h-underline">0</span> results for your search</h3>
            {% include 'search-browse-links' %}
          {% else %}
            <h3 class="font-italic">"{{ search.terms }}" returned <span class="tb-h-underline">{{ search.results_count }}</span> {{ search.results_count | pluralize: 'result', 'results' }}</h3>
          {% endif %}
        {% else %}
          {% include 'search-browse-links' %}
        {% endif %}
      </div>
    </div>

    {% if search.types contains 'product' %}
      <div class="row">
        {% for product in search.results %}
          <div class="col-md-3">
            {% include 'product-grid-item' %}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if search.types contains 'article' %}
      <div class="row">
        {% for article in search.results %}
          {% include 'blog-article-thumb' %}
        {% endfor %}
      </div>
    {% endif %}


    {% if paginate.pages > 1 %}
      <div class="row">
        {% include 'pagination' %}
      </div>
    {% endif %}

</div>

{% endpaginate %}